

<div class="container homePageContainer">
	<div class="jumbotron">
		<h1 class="display-5">Reggae Culture <i class="fa fa-music"></i></h1>
		<p>Looking for a new reggae artist to listen to? Search our inventory to see if you can find something new!</p>
		<hr class="my-4">
		<p>
		<a class="btn btn-primary btn-lg btn-dark" href="/artists" role="button">Start discovering now!</a>
		</p>
	</div>
</div>

<footer>
	<p class="text-center">&copy; 2018 Copyright:<a href="https://github.com/galagarza89"> David Galagarza</a></p>
</footer>

